.clear{clear: both;}
.overflow{overflow: auto;zoom: 1;}
.pmain{margin:0 auto;width:1200px;}
.pmainBgGray{background: #f8f8f8;}
.pLocation{padding:15px 0;}
.pLocation ul li{float: left;}
.pLocation ul li a{color:#999;font-size: 14px;}
.p-nav{margin-bottom:20px;padding-left: 20px;height:41px;font-size: 16px;color:#333;background: #fafafa;border-bottom: 1px solid #eaeaea;}
.p-nav li{float: left;}
.p-nav li a{display:block;padding: 0 30px;height: 40px;line-height: 40px}
.p-nav li a:hover{color:#97b800;}
.p-nav li a.active{background: #fff;  border-top: 3px solid #97b800;height: 37px;line-height: 35px;}
.p-nav li a.active:hover{color:#333;}
.p-nav li a select{padding: 3px 5px;font-size: 16px;  color: #666;  border: 1px solid #eaeaea;  border-radius: 5px;}
.p-nav.p-navSelect{padding-left: 0;}
.p-nav.p-navSelect li{margin-right:15px;}
.p-nav.p-navSelect li a{margin: 6px 0 5px;padding:0 15px;height: 30px;line-height: 30px;border-radius: 5px;}
.p-nav.p-navSelect li a.active{background: #97b800;border-top:none;color:#fff;}
.p-container{}
.p-time{margin-bottom:5px;font-size: 16px;color:#999;text-align: right;}
/*priceRatio*/
.p-container table.priceRatio{margin-bottom:30px;width: 100%;text-align: center;font-size:16px;color:#333;}
.p-container table.priceRatio th, .p-container table.priceRatio td{padding: 0 5px;height: 50px;}
.p-container table.priceRatio th{background: #e0e9b2;font-weight:normal;}
.p-container table.priceRatio tbody tr:nth-child(1n){background: #fff;}
.p-container table.priceRatio tbody tr:nth-child(2n){background: #f8faef;}
.p-container table.priceRatio tbody td{color:#666;}
/*wholesale*/
.p-container .slidLeft{width:100px;float: left;border-radius:5px;border: 1px solid #eaeaea;border-top:none;background: #fafafa;text-align: center;overflow: hidden;}
.p-container .slidLeft a{display: block;padding: 15px;border-bottom: 1px solid #eaeaea;cursor: pointer;font-size: 16px;}
.p-container .slidLeft a:hover{color: #97b800;}
.p-container .slidLeft a.active{background: #97b800;color: #fff;}
.p-container .contentRight{margin-left:20px;margin-bottom: 30px;width:1078px;float: left;}
.contentRightBd{padding: 0 30px 30px;border: 1px solid #eaeaea;font-size: 16px;}
.list3 li{width: 33%;float: left;}
.list3 li a{display: block;margin: 40px 25px 0;}
.list3 li a img{display: block;margin-bottom:15px;width: 295px;height: 200px;}
.list3 li a p{margin-bottom: 5px;color:#999;text-overflow: ellipsis; white-space: nowrap;  overflow: hidden;}
.list3 li a p.title{font-size: 18px;font-weight:bold;color:#333;}
.list3 li a p i{margin-right:10px;font-size: 20px;line-height: normal;}
.list3 li a p.address i{color:#F88C03;}
.list3 li a p.mainProduct i{color:#97b800;}
/*pig_grain*/
.article_pig{margin:0 auto;padding:30px 0;width: 600px;font-size: 16px;}
.article_pig h3{font-size: 18px;margin-bottom: 20px;text-align: center;color: #333;}
.article_pig .text{margin-bottom:50px;text-indent: 2em;color: #666;}
.article_pig table{width: 100%;text-align: center;font-size:16px;color:#666;border-right:1px solid #eaeaea;border-bottom:1px solid #eaeaea;}
.article_pig table th, .article_pig table td{padding:12px 5px;border-left:1px solid #eaeaea;border-top:1px solid #eaeaea;}
.article_pig table th{font-weight: normal;}
.article_pig p.source{margin:20px 0;text-align: right;color: #999;}
/*\u5206\u9875*/
.d-page{margin:30px auto;width: 500px;height: 37px;}
.d-page a, .d-page b{ position: relative; float: left;margin-left: -1px;width: 35px;border: solid 1px #ededed;height: 35px;color: #3e3e3e;text-align: center;line-height: 35px;cursor: pointer;font-size:14px;}
.d-page b{color:#fff;background:#c73539;border:1px solid #c73539; font-weight: normal;}
.d-page a:hover{border:1px solid #c73539;color:#c73539; z-index:1;}
.d-page .d-page-w{width: 70px;font-weight: 400;}
.d-page .d-page-p{padding:0 7px;}
.d-page a.d-dot{border:none;color:#3e3e3e;}
/*food_trade*/
.bgcolorBlue{background: #70C6FF;}
.bgcolorYellow{background: #FFC478;}
.bgcolorRed{background: #CD4F38;}
.colorBlue{color: #70C6FF;}
.colorYellow{color: #FFC478;}
.colorRed{color: #CD4F38;}
.prefectureBox{margin: 0 0 30px;}
.prefectureBox h3{padding: 0  0 10px 20px;font-size: 18px;font-weight: normal;border-bottom: 2px solid #97b800;}
.prefectureBox h3 .p-time{margin-left:10px;font-size: 16px;font-weight: normal;vertical-align: bottom;}
.prefectureBox .prefectureCon{padding: 20px 0;}
.prefectureBox .prefectureCon .prefectureLink{float: left;width: 200px;}
.prefectureBox .prefectureCon .prefectureLink a{display: block;margin: 0;height: 200px;padding: 40px 10px;}
.prefectureBox .prefectureCon .prefectureLink a h1{text-align: center;font-size: 24px;  font-weight: normal;  color: #fff;  position: relative;}
.prefectureBox .prefectureCon .prefectureLink a h1 label{position: absolute;bottom: -20px;  font-size: 12px;  background: #F78B08;  padding: 0px 8px;  border-radius: 25px;}
.prefectureBox .prefectureCon .prefectureLink a img{margin-top: 50px;width: auto;}
.prefectureBox .prefectureCon .list4{float: left;width: 700px;}
.prefectureBox .prefectureCon .list4 ul{margin: 0 15px;}
.prefectureBox .prefectureCon .list4 li{width: 25%;float: left;}
.prefectureBox .prefectureCon .list4 li a{display: block;margin: 0 auto;width: 150px;font-size: 14px;color: #333;}
.prefectureBox .prefectureCon .list4 li a img{width:100%;height: 150px;}
.prefectureBox .prefectureCon .list4 li a p{margin: 5px 0;}
.prefectureBox .prefectureCon .list4 li a p label{color: #999;font-size: 12px;}
.prefectureBox .prefectureCon .list4 li a div span{color: #666;font-size: 12px}
.prefectureBox .prefectureCon .p-news{float: right;width: 300px;height:280px;overflow:hidden;font-size: 14px;background: #fafafa;}
.prefectureBox .prefectureCon .p-news h4{margin-bottom:10px;padding-left:10px;font-size: 16px;font-weight: normal;border-left: 3px solid #3498db;line-height: 35px;}
.prefectureBox .prefectureCon .p-news h4 a{margin-right:10px;float: right;font-size: 14px;vertical-align: bottom;}
.prefectureBox .prefectureCon .p-news ul{padding: 0 15px;}
.prefectureBox .prefectureCon .p-news li{padding:12px 0 5px;border-bottom: 1px dashed #eaeaea;text-overflow: ellipsis;  white-space: nowrap;  overflow: hidden;}
.prefectureBox .prefectureCon .p-news li a:hover{color: #97b800;}
.prefectureBox .prefectureCon .list4 .d-page{margin: 40px auto 0;}
/*scene_service*/
.sceneChoice{padding: 30px 20px;font-size: 18px;}
.sceneChoice a{margin-left:10px;padding: 5px 15px;background: #fff;color:#666;border: 1px solid #eaeaea;border-radius: 5px;}
.sceneChoice a:hover{color: #97b800;border: 1px solid #97b800;}
.sceneChoice a.active{background: #97b800;color: #fff;border: 1px solid #97b800;}
.sceneBox{color:#666;font-size: 18px;}
.sceneBox.sceneOneline{margin:0 auto;width: 500px;}
.sceneBox.sceneTwoline{margin:0 auto;width: 800px;}
.sceneBox.sceneTwoline4{margin:0 auto;width: 800px;}
.sceneBox .sceneLeft{width: 250px;float: left;}
.sceneBox .sceneCenter{margin-top:100px;font-size: 26px;width:200px;float: left;text-align: center;}
.sceneBox .sceneCenter i{display: block;font-size: 180px;line-height: normal;}
.sceneBox li{margin: 30px 0 80px}
.sceneBox.sceneTwoline4 li{margin: 30px 0 50px;}
.sceneBox li a{position: relative;display: block;height: 50px;line-height: 50px;border: 1px solid #eaeaea;background: #fff;text-align: center;border-radius: 8px;}
.sceneBox li a:hover{color: #97b800;}
.sceneBox li a i{position: absolute;top:-8px;*top:-5px;font-size: 60px;z-index: 2;line-height: normal;}
.sceneBox .sceneLeft, .sceneBox .sceneRight{width: 250px;float: left;}
.sceneBox .sceneLeft{padding-right:50px;}
.sceneBox .sceneLeft li a{margin-left:50px;padding-right: 30px;border-right:none;}
.sceneBox .sceneLeft li a i{right:-10px;}
.sceneBox .sceneLeft li a.middle{margin-right: 50px;margin-left: 0;}
.sceneBox .sceneRight{padding-left:50px;}
.sceneBox .sceneRight li a{margin-right:50px;padding-left: 30px;border-left:none;}
.sceneBox .sceneRight li a i{;left:-10px;}
.sceneBox .sceneRight li a.middle{margin-right: 0;margin-left: 50px;}




